
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

hr {
background-color: #9e9e9e;
height: 1px;
border: 0px;
}

html{
    scroll-behavior: smooth;
}

h1 {
    font-size: 22px;
    color: #AE428A;

}

h3 {
    font-size: 18px;
}

.homeHeader
{
    margin: auto;
    text-align: right;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    color: #AE428A;
    padding-bottom: 50px;
    padding-top: 60px;
    padding-left: 10%;
    font-size: 60px;
}

.container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    width: 90%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.homeIntro
{
    float: left;
    margin: auto;
    width: 80%;
    padding-bottom: 20px;
    font-size: 16px;
    padding-right: 5%;
}

.image {
    flex-basis: 50%;
    padding-bottom: 3%;
}

.photoMe {
    max-width: 100%;
    border-radius: 5%;
}

.photoMe:hover {
    transform: scale(1.015);
    -moz-box-shadow: 10px 10px  #c1ecfd;
    -webkit-box-shadow: 10px 10px  #c1ecfd;
    box-shadow: 10px 10px  #c1ecfd;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    }

.talkButton {
    background-color: #fff;
    border-color: #000;
    border-width: 1px;
    color: #AE428A;
    margin-bottom: 4%;
    text-decoration: none;
    font-size: 18px;
}

.talkButton:hover {
    background-color: #AE428A;
    color: #fff;
    border-color: #AE428A;
    font-size: 20px;
}



/*Resume Section*/

.resumeStyle {
    width: 90%;
    padding-left: 10%;
}

.aboutTitle {
    font-size: 28px;
    color: #dd4e69;
}

.portfolioContainer {
    display: flex;
    align-items: left;
    width: 80%;
    padding-left: 10%;
    display: flex;
    justify-content: space-evenly;
}

.portfolioImg {
    border-radius: 5%;
   width: 125%;
    }

.portfolioImg:hover {
    transform: scale(1.015);
    -moz-box-shadow: 2px 2px  #c1ecfd;
    -webkit-box-shadow: 2px 12x  #c1ecfd;
    box-shadow: 2px 2px  #c1ecfd;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    }

/*Menu*/

/*.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    max-width: 80%;
    background-color: #fff;
    padding-left: 10%;
    padding: 1em;
} */

nav {
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    max-width: 80%;
    margin: auto;
}

nav .logo {
    font-size: 28px;
     font-weight: 500;
     cursor: pointer;
     margin-top: 2%;
     background: linear-gradient(90deg, hsla(320, 45%, 47%, 1) 0%, hsla(335, 51%, 53%, 1) 30%, hsla(349, 68%, 59%, 0.9) 55%, hsla(289, 18%, 77%, 1) 87%, hsla(197, 94%, 87%, 1) 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     padding: 15px 0px;
 }

 nav .logo:hover {
    background: #AE428A;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

nav .menu {
    display: flex;
    list-style: none;
    margin-top: 2%;
}
nav .menu li a {
    display: inline-block;
    padding: 15px;
    margin-top: 2%;
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

nav .menu a:hover{
    background: #AE428A;
    color: #fff;
}

nav .menu .current {
    color: #dd4e69;
}

/* Links */
a:link {
    color: #dd4e69;
    background-color: transparent;
    text-decoration: none;
    }
    
    a:visited {
    color: #dd4e69;
    background-color: #fff;
    }
    
    
    a:hover {
      color: #000;
      background: #c1ecfd;
      text-decoration: none;
    }

    a:active {
        background-color: #fff;
        }

/* Footer */
    .footer {
        margin: auto;
        width: 80%;
        padding-bottom: 2%;
    }

    .footerTitle {
        font-size: 16px;;
    }

    .contactLinks {
        padding-bottom: 2%;
    }

