
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

hr {
background-color: #9e9e9e;
height: 1px;
border: 0px;
}

body {
    margin: auto;
    background-color: #152184; /
}

html{
    scroll-behavior: smooth;
}

h1 {
    font-size: 22px;
    color: #152184;

}

h3 {
    font-size: 18px;
}

.box {
    margin: auto;
    background-color: white; /* Ensures content background is white */
    overflow: hidden; /* Prevents any child content from overflowing */
  }

.homeHeader
{
    margin: auto;
    text-align: right;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    color: #152184;
    padding-bottom: 50px;
    padding-top: 60px;
    padding-left: 10%;
    font-size: 40px;
}

.container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    width: 90%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.projects {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: auto;
    max-width: 70%; 
  }

img {
    max-width: 100%;
    height: auto;
}


.homeIntro
{
    float: left;
    margin: auto;
    width: 80%;
    padding-bottom: 20px;
    font-size: 16px;
    padding-right: 5%;
}

.image {
    flex-basis: 40%;
    padding-bottom: 3%;
    text-align: center; /* This will center the child elements like the image */

}

.photoMe {
    max-width: 100%;
   border-radius: 5%;
}

.photoMe:hover {
    transform: scale(1.015);
      
    -moz-box-shadow: 10px 10px  #F9D5DB;
    -webkit-box-shadow: 10px 10px  #F9D5DB;
    box-shadow: 10px 10px  #F9D5DB;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
   
    }

.talkButton {
    background-color: #fff;
    border-color: #000;
    border-width: 1px;
    color: #152184;
    margin-bottom: 4%;
    text-decoration: none;
    font-size: 18px;
}

.talkButton:hover {
    background-color: #152184;
    color: #fff;
    border-color: #152184;
    font-size: 20px;
}

.littleText {
    width: 90%;
    padding-left: 10%;  
}

/*Resume Section*/

.resumeStyle {
    width: 90%;
    padding-left: 10%;
}

.aboutTitle {
    font-size: 28px;
    color: #152184;
}

.portfolioContainer {
    display: flex;
    align-items: left;
    width: 86.5%;
    padding-left: 10%;
    display: flex;
    justify-content: space-evenly;
}

.project-categories {
    display: flex;
    justify-content: center; /* Keeps boxes aligned in the center */
    align-items: flex-start; /* Aligns items to the start */
    flex-wrap: wrap; /* Allows items to wrap */
    gap: 20px; /* Space between boxes */
    padding: 0 40px; /* Adds space on the left and right */
    max-width: 1200px; /* Adjusts max width for overall container */
    margin: 0 auto; /* Centers the container in the middle of the page */
    margin-bottom: 5%;
}

.projects {
    flex-basis: calc(50% - 20px); /* Adjust the width of each box, accounting for the gap */
    max-width: 700px; /* Maximum width of each box (optional) */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 30px; /* Padding inside each box */
    background-color: white; /* Background color for the content */
    border-radius: 10px; /* Optional: Rounded corners */
    border: 2px solid #F9D5DB; /* Optional: Border */
}

.projectList li {
    margin-bottom: 20px; /* Adjust this value as needed for more or less space */
}


@media (max-width: 768px) {
    .project-categories {
        flex-direction: column;
        padding: 0 20px; /* Adjust padding for smaller screens */
    }

    .projects {
        flex-basis: 100%; /* Boxes take full width on smaller screens */
    }
}

.desList {
    padding-left: 3%;
    font-size: 15px;
}

/*Menu*/

/*.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    max-width: 80%;
    background-color: #fff;
    padding-left: 10%;
    padding: 1em;
} */

nav {
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    max-width: 80%;
    margin: auto;
}

nav .logo {
    font-size: 28px;
     font-weight: 500;
     cursor: pointer;
     margin-top: 2%;
     background: linear-gradient(90deg, hsla(320, 45%, 47%, 1) 0%, hsla(335, 51%, 53%, 1) 30%, hsla(349, 68%, 59%, 0.9) 55%, hsla(289, 18%, 77%, 1) 87%, hsla(197, 94%, 87%, 1) 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     padding: 15px 0px;
}

nav .logo:hover {
    background: #152184;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

nav .menu {
    display: flex;
    list-style: none;
    margin-top: 2%;
}
nav .menu li a {
    display: inline-block;
    padding: 15px;
    margin-top: 2%;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

nav .menu a:hover{
    color: #AE4289;
    background-color: transparent;
}

nav .menu .current {
    color: #AE4289;
}

/* Footer */
footer {
    background-color: #152184;
    color: white;
    text-align: center;
    /* position: sticky; */
    bottom: 0; /* Ensure it sticks to the bottom */
    width: 100%;
    padding: 1px 0; /* Adjusted padding for consistency */
    }

footer a:link{
    color: #c1ecfd;
}


footer a:hover {
    color: black;
    background-color: #c1ecfd; 
 }

 footer a:visited {
    color: #c1ecfd;
 }


 
    .footer {
        margin: auto;
        width: 80%;
        padding-bottom: 2%;
    }

    .footerTitle {
        font-size: 16px;;
        color: white;
    }

    .contactLinks {
        padding-bottom: 2%;
    }

/* Links */
a:link {
    color: #152184;
    background-color: transparent;
    text-decoration: none;
    }
    
    a:visited {
    color: #152184;
    background-color: #fff;
    }
    
    
    a:hover {
      color: #000;
      background: #F9D5DB;
      text-decoration: none;
    }

    a:active {
        background-color: #fff;
        }


/* mobile responsiveness */
@media (max-width: 768px) {
    .homeHeader {
        font-size: 22px; 
        padding: 18%;
    }

    .littleText, .portfolioContainer {
        padding-left: 5%;
        padding-right: 5%; 
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav .logo {
        margin: 20px 0; /* Give some space around the logo */
    }

    nav .menu {
        flex-direction: column;
        margin-top: 0;
    }

    nav .menu li a {
        padding: 10px;
        margin: 5px 0; /* Add space between links */
    }

    h1, .aboutTitle {
        font-size: 20px; /* Slightly reduce the font size */
    }

    h3 {
        font-size: 16px;
    }

    .desList, .littleText, .resumeStyle, .footerText {
        font-size: 14px; /* Adjust text size for readability */
    }

    .talkButton, .menu a {
        font-size: 16px; /* Make buttons and menu links larger for easier clicking */
    }
    .container, .portfolioContainer {
        flex-direction: column;
        align-items: center;
    }

    .image, .photoMe {
        order: -1; /* This moves images to the top of the section on small screens */
        max-width: 90%; /* or any specific size you prefer */
        height: auto; /* Maintain the aspect ratio */
        margin: 0 auto; /* Center the image if needed */
    }
}